.container {
  width: calc(100vw - 80px);
  height: 100vh;
  overflow-x: hidden;
  padding-left: 80px;
  
}


.content {
  height: 50vh;
  background-color: purple;
  width: calc(100vw - 80px);
  margin-top: 50vh;
}

.banner {
  height: 50vh;
  background-color: blue;
  width: calc(100vw - 80px);
  position: absolute;
}

/* .videocontainer{
    margin: 50px;
  } */