.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profilePaper {
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

.profileAvatar {
    margin-bottom: 20px;
}
